body{
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-family: 'Fira Sans', sans-serif; 
}

.hero{
    height: 600px;
    background-color: darkgray;
    background-position: center;
    background-size: cover;
}

.navbar-brand{
    height: 40px
}

.teksthomepagina{
    background-color: lightgray;
    height: 600pxpx
}

.titel{
    text-align: center;
    margin-top: 100px;
}

.titelmenu{
    text-align: left;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 30px
}

.alinea{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px
}

.alineamenu{
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 12pt
}

.tekstabout{
    background-color: grey;
}

.footer{
    background-color: darkslategray;
    height: 50px
}

.heroabout{
    background-color: darkgrey;
    height: 550px;
    background-position: center;
    background-size: cover;
}

.afbeeldingabout {
    background-color: lightgrey;
    height: 600px
}

.meettheteamtitel{
    background-color: gray;
    height: 300px
}

.persoon1{
    background-color: lightgray;
    height: 400px
}

.persoon2{
    background-color: lightslategray;
    height: 400px
}

.persoon3{
    background-color: lightgray;
    height: 400px
}

.heromenu{
    background-color: lightslategrey;
    height: 300px
}

.tekstmenu1{
    background-color: grey;
    height: 300px
}

.tekstmenu2{
    background-color: lightgrey;
    height: 300px
}

.tekstmenu3{
    background-color: lightgrey;
    height: 300px
}

.afbeeldingmenu{
    background-color: grey;
    height: 300px
}

.afbeeldingmenu2{
    background-color: slategrey;
    height: 250px
}

.heroreserveren{
    background-color: darkgray;
    height: 350px
}

.reserverenmenu{
    background-color: grey;
    height: 700px
}

.herocontact{
    background-color: darkgrey;
    height: 500px
}

.contactformulier{
    background-color: lightslategray;
    height: 500px
}

.maps{
    background-color: lightsalmon;
    height: 500px
}

.article {
    padding: 40px;
}

.article-small {
    padding: 20px;
}

.article-inverse {
    background-color: #2c3530;
    color: white;
}

#map {
    width: 100%; height: 600px;
}

.heading-map {
    z-index: 50;  
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 5px 10px;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .titel{
        text-align: center;
        margin-top: 100px
    }
    
    .alinea{
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
        margin-top: 100px
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}