body {
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    background: url(../images/bg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    height: 60px;
}

.navbar {
    background: transparent;
    font-size: 12pt;
    padding-left: 20px
}

.navbar-collapse {
    margin-left: 20px;
}

#navbarNavDropdown{
    background-color: rgb(251, 233, 150)
}

.heroimg {
    width: 100%;
    margin-top: 30px;
}

.logomenu {
    height: 50px;
    text-align: left;
    padding-left: 20px
}

#slide {
        position: absolute;
        left: -300px;
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.2s forwards;
        animation-delay: 0.5s;
        margin-left: 20px
    }
    @-webkit-keyframes slide {
        100% {
            left: 0;
        }
    }
    @keyframes slide {
        100% {
            left: 0;
        }
    }

.headingtitel {
    font-size: 30pt;
    text-align: center;
    padding: 20px;
    margin-top: 150px
}

.alineaindex {
    text-align: center;
    font-size: 10pt;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px
}

.subscribe {
    padding: 30px;
    margin: 0 auto
}

button.btn {
    background-color: rgb(210, 0, 188);
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    height: 40px;
    border: none;
    margin-bottom: 50px;
    margin: 0 auto
}

.btn:hover {
    background-color: black
}

.btn:active {
    background-color: white;
    color: black;
    border: none
}

.titelabout {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 150px;
    color: black;
    font-size: 30pt;
    text-align: center;
    letter-spacing: 5px
}

.vraagabout {
    font-size: 15pt;
    color: rgb(210, 0, 188)
}

.tekstabout {
    text-align: left;
    padding: 50px;
    font-size: 11pt
}

.quoteabout {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: black;
    font-size: 25pt;
    padding: 50px
}

.titelmtt {
    padding: 30px;
    margin-top: 120px;
    color: black;
    font-size: 30pt;
    text-align: center;
    letter-spacing: 5px
}

.persoon {
    text-align: center;
    color: black;
    height: 450px;
    padding: 50px
}

.persoon1 {
    height: 200px;
    width: 180px;
    padding: 10px
}

.persoon2 {
    height: 200px;
    width: 180px;
    padding: 10px
}

.persoon3 {
    height: 200px;
    width: 180px;
    padding: 10px
}

.naampersoon {
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    color: rgb(210, 0, 188);
    margin-top: 20px
}

.taakpersoon {
    font-family: 'Raleway', sans-serif;
    font-size: 12pt
}

.titelheromenu {
    padding: 30px;
    color: black;
    font-size: 30pt;
    margin-top: 130px;
    text-align: center;
    letter-spacing: 5px;
}

.titelmenu {
    text-align: left;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 40px;
    font-size: 15pt;
    margin-top: 30px
}

.alineamenu {
    text-align: left;
    margin-left: 90px;
    font-size: 9pt;
}

.video{
    margin: 0 auto;
    padding: 20px
}

.reservatie {
    text-align: center
}

.buttonreservatie {
    margin-top: 50px;
    color: white;
    background-color: rgb(210, 0, 188);
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    border: none;
    padding: 10px;
    text-align: center
}

.buttonreservatie:hover {
    color: white;
    background-color: black
}

.calltoaction {
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
    font-size: 10pt
}

.heroreserveren {
    color: black;
    font-size: 30pt;
    text-align: center;
    padding: 30px;
    margin-top: 120px
}

.heroreserverenunder {
    color: rgb(210, 0, 188);
    font-size: 13pt;
}

.reserverenmenu {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
    font-size: 12pt
}

.buttonsubmit {
    margin-top: 50px;
    color: white;
    background-color: rgb(210, 0, 188);
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    border: none;
    padding: 10px;
    text-align: center
}

.buttonsubmit:hover {
    color: white;
    background-color: black
}

.herocontact {
    color: black;
    text-align: center;
}

.titelcontact {
    font-size: 30pt;
    padding: 30px;
    margin-top: 120px;
    letter-spacing: 5px
}

.contactformulier {
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    font-size: 12pt
}

.buttoncontact {
    margin-top: 50px;
    color: white;
    background-color: rgb(210, 0, 188);
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    border: none;
    padding: 10px;
    margin-bottom: 30px
}

.buttoncont {
    text-align: center
}

.buttoncontact:hover {
    color: white;
    background-color: black;
}

#footer {
    height: 85px;
    padding: 30px;
    color: black;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    z-index: 20;
    font-size: 6pt
}

.footertekst {
    text-align: left
}

.maps {
    text-align: center
}

.sprite {
        width: 48px;
        height: 48px;
        background-image: url('../images/spritesheet.png');
        float: right;
        display: block;
    }
    .sprite-facebook {
        background-position-x: 0px;
    }
    .sprite-twitter {
        background-position-x: 144px;
    }
    .sprite-youtube {
        background-position-x: 96px;
    }
    .sprite-mail {
        background-position-x: 48px;
    }
    .sprite-facebook:hover {
        background-position-y: -48px
    }
    .sprite-twitter:hover {
        background-position-y: -48px
    }
    .sprite-youtube:hover {
        background-position-y: -48px
    }
    .sprite-mail:hover {
        background-position-y: -48px;
    }

    .pdf{
        text-decoration: none;
    }



/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .navbar {
        background-color: transparent
    }

    #navbarNavDropdown{
        background-color: transparent
    }


    #slide {
        position: absolute;
        left: -300px;
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.2s forwards;
        animation-delay: 0.5s;
        margin-left: 20px
    }
    @-webkit-keyframes slide {
        100% {
            left: 0;
        }
    }
    @keyframes slide {
        100% {
            left: 0;
        }
    }
    .heroimg {
        height: 200px
    }
    .headingtitel {
        font-size: 50pt;
        text-align: center;
        margin-top: 180px
    }
    .alineaindex {
        text-align: center;
        margin-top: 10px;
        font-size: 12pt
    }
    .subscribe {
        padding: 30px;
        margin: 0 auto;
        margin-bottom: 30px
    }
    .newsletter {
        margin-left: 590px;
        width: 100px
    }
    #email {
        width: 300px
    }
   
    button.btn {
        background-color: rgb(210, 0, 188);
        font-size: 12pt;
        font-family: 'Raleway', sans-serif;
        width: 250px;
        height: 40px;
        border: none;
        vertical-align: middle;
    }
    .btn:hover {
        background-color: black
    }
    .btn:active {
        background-color: white;
        color: black;
        border: none
    }
    .titelmtt {
        padding: 30px;
        margin-top: 100px;
        color: black;
        font-size: 50pt;
        text-align: center;
        letter-spacing: 5px
    }
    .titelheromenu {
        padding: 30px;
        margin-top: 100px;
        color: black;
        font-size: 50pt;
        text-align: center;
        letter-spacing: 5px
    }
    .titelmenu {
        text-align: left;
        padding: 30px;
        font-size: 15pt;
    }
    .alineamenu {
        text-align: left;
        margin-left: 100px;
        font-size: 12pt;
        margin-bottom: 50px;
        margin-top: 20px
    }
    .buttonreservatie {
        margin-top: 50px;
        color: white;
        background-color: rgb(210, 0, 188);
        font-family: 'Raleway', sans-serif;
        font-size: 15pt;
        border: none;
        padding: 10px;
    }
    .buttonreservatie:hover {
        color: white;
        background-color: black
    }
    .heroreserveren {
        color: black;
        font-size: 50pt;
        margin-top: 100px;
        text-align: center;
        padding: 50px
    }
    .heroreserverenunder {
        color: rgb(210, 0, 188);
        font-size: 20pt
    }
    .reserverenmenu {
        font-family: 'Raleway', sans-serif;
        padding-left: 100px;
        padding-right: 100px
    }
    .calltoaction {
        text-align: center;
        padding: 10px;
        margin-bottom: 50px;
        text-decoration: none;
        color: black
    }
    .herocontact {
        color: black;
        text-align: center;
        padding: 50px
    }
    .titelcontact {
        font-size: 50pt;
        margin-top: 100px
    }
    .contactformulier {
        font-family: 'Raleway', sans-serif;
        padding-left: 100px;
        padding-right: 100px
    }
    .buttoncontact {
        margin-top: 30px;
        color: white;
        background-color: rgb(210, 0, 188);
        font-family: 'Raleway', sans-serif;
        font-size: 15pt;
        border: none;
        padding: 10px;
    }
    .buttoncont {
        text-align: center
    }
    .buttoncontact:hover {
        color: white;
        background-color: black;
    }
    .titelhomepagina {
        text-align: center;
        margin-top: 100px;
        font-size: 20pt
    }
    .titel {
        text-align: center;
        margin-top: 100px;
    }
    .alinea {
        text-align: right;
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 0;
    }
    .titelabout {
        padding: 30px;
        margin-top: 100px;
        color: black;
        font-size: 50pt;
        text-align: center;
        letter-spacing: 5px
    }
    .vraagabout {
        font-size: 12pt;
        color: rgb(210, 0, 188);
        margin-top: 30px
    }
    .tekstabout {
        text-align: left;
        padding: 100px;
        font-size: 10pt
    }
    .footer {
        height: 80px;
        padding: 30px;
        color: white;
        background-color: black;
        font-family: 'Raleway', sans-serif;
        z-index: 20
    }
    #footer {
        height: 80px;
        padding: 30px;
        color: black;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        z-index: 20;
        font-size: 12pt
    }
    .footertekst {
        text-align: left
    }
    .quoteabout {
        font-family: 'Raleway', sans-serif;
        text-align: left;
        color: black;
        font-size: 30pt;
        padding: 100px
    }
    .maps {
        text-align: center;
        margin-top: 40px;
    }

   .video {
        margin-top: 40px;
        text-align: center;
        margin-left: -20px
    }
    .reservatie {
        text-align: center
    }
    .buttonsubmit {
        margin-top: 50px;
        color: white;
        background-color: rgb(210, 0, 188);
        font-family: 'Raleway', sans-serif;
        font-size: 15pt;
        border: none;
        padding: 10px;
    }
    .buttonsubmit:hover {
        color: white;
        background-color: black
    }
    #map {
        width: 100%;
        height: 600px;
    }
    .heading-map {
        z-index: 50;
        position: relative;
        background: rgba(255, 255, 255, 0.75);
        display: inline-block;
        padding: 5px 10px;
    }
    .persoon {
        text-align: center;
        color: black;
        height: 600px;
        padding-left: 50px;
        padding-top: 50px;
        padding-right: 50px
    }
    .persoon1 {
        height: 220px;
        width: 200px;
        padding: 30px
    }
    .persoon2 {
        height: 220px;
        width: 200px;
        padding: 30px
    }
    .persoon3 {
        height: 220px;
        width: 200px;
        padding: 30px
    }
    .naampersoon {
        font-family: 'Raleway', sans-serif;
        font-size: 15pt;
        color: rgb(210, 0, 188)
    }
    .taakpersoon {
        font-family: 'Raleway', sans-serif;
        font-size: 12pt
    }
    .sprite {
        width: 48px;
        height: 48px;
        background-image: url('../images/spritesheet.png');
        float: right;
        display: block;
    }
    .sprite-facebook {
        background-position-x: 0px;
    }
    .sprite-twitter {
        background-position-x: 144px;
    }
    .sprite-youtube {
        background-position-x: 96px;
    }
    .sprite-mail {
        background-position-x: 48px;
    }
    .sprite-facebook:hover {
        background-position-y: -48px
    }
    .sprite-twitter:hover {
        background-position-y: -48px
    }
    .sprite-youtube:hover {
        background-position-y: -48px
    }
    .sprite-mail:hover {
        background-position-y: -48px;
    }
}