body{
    font-family: montserrat
}

.hero{
    height: 600px;
    background-color: green;
    background-position: center;
    background-size: cover;
}

.navbar-brand{
    height: 40px
}

.teksthomepagina{
    background-color: grey;
    height: 400px
}

.tekstabout{
    background-color: darkgrey;
    height: 600px;
}

.footer{
    background-color: lightgrey;
    height: 50px
}

.heroabout{
    background-color: grey;
    height: 550px;
    background-position: center;
    background-size: cover;
}

.afbeeldingabout {
    background-color: darkolivegreen;
    height: 600px
}

.meettheteamtitel{
    background-color: grey;
    height: 300px
}

.persoon1{
    background-color: lightgray;
    height: 400px
}

.persoon2{
    background-color: grey;
    height: 400px
}

.persoon3{
    background-color: lightgrey;
    height: 400px
}

.heromenu{
    background-color: darkgrey;
    height: 300px
}

.tekstmenu1{
    background-color: grey;
    height: 300px
}

.tekstmenu2{
    background-color: lightgrey;
    height: 300px
}

.tekstmenu3{
    background-color: grey;
    height: 300px
}

.afbeeldingmenu{
    background-color: lightcoral;
    height: 300px
}

.afbeeldingmenu2{
    background-color: grey;
    height: 250px
}

.heroreserveren{
    background-color: darkgray;
    height: 350px
}

.reserverenmenu{
    background-color: grey;
    height: 700px
}

.herocontact{
    background-color: darkgrey;
    height: 500px
}

.contactformulier{
    background-color: lightslategray;
    height: 500px
}

.maps{
    background-color: lightsalmon;
    height: 500px
}

.article {
    padding: 40px;
}

.article-small {
    padding: 20px;
}

.article-inverse {
    background-color: #2c3530;
    color: white;
}

#map {
    width: 100%; height: 600px;
}

.heading-map {
    z-index: 50;  
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 5px 10px;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}